<div class="container">
  <div class="jumbotron col-8 offset-2 mt-4">
    <h1 class="display-4">Welcome in Family Manager!</h1>
    <p class="lead">This is a demo application which keeps track of the family data. There are three main features which
      allow you to manage family data. First one serves the purpose of creating new family and add members such as fathers
      and subsequent children. Second feature allows you to preview previously added entities in seperate view. The last
      piece of functionality provides a search engine to look up families based on child characteristics.</p>
    <hr class="my-4">
    <p>This application has been created in response to preliminary task assigned in order to evaluate basic JAVA/Angular
      programming skills.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/createFamily']" role="button">Try it!</a>
    </p>
  </div>
</div>